.episodes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

  .episode-card{
    width: 24%;
  }
  .img-responsive{
    width: 100%;
  }
  body{
    background-color: black;
  }