

 .flexbox{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
 }
  .box{
    width:200px ;
    flex: 1 0 200px;

  }

  body{background-color: black;


  }