#wrapper {
    max-width: 1200px;





}

nav {
    background-color: salmon;

    padding: 10px;

}

body {
    background-color: black;


}

p {
    border: solid;
    background-color: salmon;
    margin: 0 auto;
    font-size: 150%;
    font-family: sans-serif;
}

.col-left {
    width: 10%;
    float: left;

}

.col-right {
    width: 50%;
    float: right;
}

nav li {
    display: inline;
    border-right:solid 1px white;
    padding: 0 2em;
}
nav a{
    text-decoration: none;
}
a:visited {
    color: red;
}

a:hover {
    color: antiquewhite;
    text-decoration: underline;
}