#wrapper{
   max-width: 1200px;





}
    nav{background-color: whitesmoke;}
        body{background-color: black;


   }
   p{
        border: solid;
        background-color:salmon;
        margin: 0 auto ;
   }
   .first{
        float: left;

   }
   .second{
        float: right;
   }